<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width: device-width, initial-scale=1.0">
    <title>Articles</title>
    <style>
        .button-container {
            margin: 20px 0;
        }
        .filter-button {
            padding: 10px 20px;
            margin: 0 10px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1>Articles</h1>
    <div class="button-container">
        <a href="/"><button class="filter-button">All Articles</button></a>
        <a href="/today"><button class="filter-button">Today's Articles</button></a>
        <a href="/words"><button class="filter-button">Manage Words</button></a>
        <a href="/original"><button class="filter-button">Original Text</button></a>
    </div>
    <table border="1" style="width: 100%; border-collapse: collapse;">
        <thead>
            <tr>
                <th>Billede</th>
                <th>Overskrift</th>
                <th>Kilde</th>
                <th>Resume</th>
                <th>Score</th>
                <th>Publikationsdato</th>
            </tr>
        </thead>
        <tbody>
            {% for title, text, top_image, url, base_url, score, publish_date in articles %}
            <tr>
                <td style="text-align: center;" width="10%">
                    <a href="{{ url }}" target="_blank">
                        <img src="{{ top_image }}" alt="Top image" style="width: 100%; height: 100%;">
                    </a>
                </td>
                <td style="text-align: center;">{{ title }}</td>
                <td style="text-align: center;">
                    <img src="{{ get_google_favicon(base_url) }}" alt="Favicon" style="width: 30px; height: 30px;">
                </td>
                <td>
                    <p>{{ text }}</p>
                </td>
                <td style="text-align: center;">{{ score }}</td>
                <td style="text-align: center;">{{ publish_date }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</body>

</html>